In [1]:
data_dir = 'data'
result_dir = 'result'

# Import

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import copy

import warnings
warnings.filterwarnings("ignore")

# Read data

In [3]:
af = 'vv'
dt = 'v'
pf = '__1__'

Xval = np.load(f'{data_dir}/{af}3.v.X.{pf}.npy', allow_pickle=True)
y_val = np.load(f'{data_dir}/{af}3.v.y.npy', allow_pickle=True)

#? features names
fts_names = [line.strip() for line in open(f'{data_dir}/{af}3.fts_cols.{pf}.txt').readlines()]

In [4]:
# for i in range(0, len(fts_names)):
#     print(i, fts_names[i])

In [5]:
list(np.where(y_val == 1)[0])

[352983,
 353215,
 353220,
 389317,
 389342,
 400584,
 400603,
 406683,
 411244,
 417088,
 420926,
 420959,
 422844,
 422847,
 424163,
 424210,
 425306,
 425995,
 426050,
 426125,
 426149,
 426150,
 426163,
 426199,
 426248,
 426250,
 426256,
 426286,
 426291,
 426314,
 426348,
 426355,
 426357,
 426361,
 426388,
 426389,
 426390,
 426391,
 426415,
 426454,
 426504,
 426517,
 426564,
 426580,
 426643,
 426648,
 426660,
 426676,
 426730,
 426796,
 426849,
 426925,
 427075,
 427096,
 427099,
 427218,
 427259,
 427518,
 427521,
 427573,
 427577,
 427597,
 427870,
 427934,
 427947,
 427948,
 427981,
 428003,
 428034,
 428211,
 428213,
 428239,
 428266,
 428325,
 428610,
 428614,
 428615,
 428616,
 428658,
 428667,
 428668,
 428700,
 428901,
 428940,
 428969,
 428972,
 428994,
 428996,
 429004,
 429005,
 429012,
 429041,
 429060,
 429070,
 429125,
 429126,
 429132,
 429154,
 429167,
 429185,
 429195,
 429196,
 429197,
 429214,
 429223,
 429224,
 429225,
 429226,
 429266,
 429267,
 429268,
 429270,
 429276,
 429277,
 429278,
 429292,
 429334,
 429335,
 429528,
 429529,
 429638,
 429738,
 429739,
 429871,
 429872,
 429900,
 429919,
 429958,
 429966,
 429986,
 429992,
 430019,
 430065,
 430087,
 430991,
 431016,
 431048,
 431062,
 431076,
 431111,
 431136,
 431148,
 431152,
 431189,
 431214,
 431228,
 431643,
 431674,
 431675,
 431676,
 431677,
 431678,
 431679,
 431680,
 431681,
 431682,
 431745,
 432732,
 432759,
 432771,
 434365,
 434366,
 434367,
 434368,
 434369,
 434370,
 434371,
 434372,
 434373,
 434374,
 434395,
 434396,
 434404,
 434405,
 434406,
 434609,
 436666,
 436667,
 436668,
 436669,
 436670,
 436671,
 436679,
 436683,
 436684,
 436685,
 436686,
 436687,
 436689,
 436691,
 436723,
 439366,
 439367,
 439368,
 439369,
 439370,
 439371,
 439372,
 439373,
 439374,
 439375,
 439376,
 439377,
 439378,
 439379,
 439380,
 439381,
 439382,
 439383,
 439384,
 439385,
 439392,
 439393,
 439394,
 439395,
 439396,
 439397,
 439398,
 439399,
 439400,
 439401,
 439402,
 439403,
 439404,
 439405,
 439406,
 439407,
 439409,
 439411,
 439412,
 439413,
 439425,
 439427,
 439429,
 439431,
 439432,
 439434,
 439435,
 439436,
 439437,
 439438,
 439439,
 439440,
 439441,
 439442,
 439444,
 439445,
 439446,
 439447,
 439448,
 439449,
 439452,
 439453,
 439456,
 439458,
 439459,
 439460,
 439462,
 439463,
 439466,
 439468,
 439470,
 439472,
 439476,
 439477,
 439478,
 439481,
 439482,
 439483,
 439484,
 439485,
 439488,
 439489,
 439490,
 439491,
 439492,
 439493,
 439494,
 439495,
 439496,
 439497,
 439498,
 439499,
 439500,
 439501,
 439503,
 439504,
 439505,
 439506,
 439508,
 439510,
 439543,
 439545,
 439546,
 439548,
 439549,
 439550,
 439551,
 439552,
 439553,
 439555,
 439556,
 439557,
 439558,
 439559,
 439560,
 439561,
 439562,
 439563,
 439564,
 439565,
 439580,
 439582,
 439583,
 439585,
 439586,
 439588,
 439590,
 439592,
 439593,
 439596,
 439598,
 439600,
 439604,
 439605,
 439607,
 439609,
 439611,
 439612,
 439613,
 439615,
 439624,
 439625,
 439626,
 439627,
 439628,
 439630,
 439635,
 439636,
 439637,
 439638,
 439639,
 439641,
 439642,
 439643,
 439644,
 439645,
 439647,
 439648,
 439649,
 439652,
 439672,
 439673,
 439674,
 439675,
 439676,
 439677,
 439679,
 439680,
 439682,
 439683,
 439684,
 439685,
 439687,
 439688,
 439690,
 439692,
 439693,
 439694,
 439695,
 439697,
 439704,
 439705,
 439706,
 439707,
 439709,
 439710,
 439711,
 439712,
 439713,
 439715,
 439716,
 439717,
 439718,
 439719,
 439720,
 439721,
 439722,
 439726,
 439727,
 439728,
 439732,
 439735,
 439737,
 439738,
 439739,
 439742,
 439743,
 439744,
 439747,
 439748,
 439749,
 439750,
 439751,
 439752,
 439754,
 439755,
 439757,
 439758,
 439759,
 439761,
 439763,
 439764,
 439765,
 439767,
 439770,
 439771,
 439773,
 439775,
 439776,
 439777,
 439778,
 439779,
 439781,
 439782,
 439783,
 439784,
 439785,
 439786,
 439787,
 439788,
 439791,
 439793,
 439794,
 439795,
 439796,
 439798,
 439801,
 439807,
 439810,
 439815,
 439820,
 439824,
 439827,
 439839,
 439843,
 439850,
 439856,
 439858,
 439860,
 439861,
 439869,
 439875,
 439880,
 439881,
 439883,
 439884,
 439887,
 439888,
 439893,
 439899,
 439905,
 439907,
 439908,
 439909,
 439910,
 439911,
 439913,
 439915,
 439917,
 439920,
 439922,
 439923,
 439925,
 439926,
 439928,
 439931,
 439932,
 439934,
 439936,
 439938,
 439939,
 439940,
 439941,
 439942,
 439943,
 439944,
 439945,
 439946,
 439947,
 439950,
 439953,
 439954,
 439955,
 439956,
 439957,
 439960,
 439961,
 439964,
 439965,
 439966,
 439968,
 439969,
 439970,
 439971,
 439972,
 439975,
 439976,
 439977,
 439978,
 439980,
 439981,
 439983,
 439984,
 439985,
 439986,
 439987,
 439989,
 439990,
 439991,
 439992,
 439993,
 439997,
 439998,
 439999,
 440000,
 440001,
 440002,
 440004,
 440006,
 440007,
 440010,
 440011,
 440012,
 440015,
 440017,
 440019,
 440020,
 440021,
 440022,
 440023,
 440024,
 440025,
 440026,
 440027,
 440028,
 440029,
 440030,
 440032,
 440033,
 440034,
 440036,
 440037,
 440038,
 440039,
 440041,
 440042,
 440043,
 440044,
 440045,
 440046,
 440047,
 440048,
 440051,
 440052,
 440053,
 440055,
 440057,
 440058,
 440059,
 440062,
 440068,
 440069,
 440070,
 440071,
 440073,
 440074,
 440075,
 440076,
 440077,
 440078,
 440080,
 440082,
 440086,
 440087,
 440088,
 440090,
 440092,
 440093,
 440097,
 440099,
 440109,
 440110,
 440111,
 440114,
 440115,
 440116,
 440117,
 440118,
 440119,
 440120,
 440122,
 440123,
 440124,
 440126,
 440127,
 440128,
 440129,
 440133,
 440134,
 440137,
 440143,
 440144,
 440148,
 440152,
 440158,
 440159,
 440160,
 440161,
 440163,
 440164,
 440165,
 440167,
 440168,
 440171,
 440172,
 440174,
 440175,
 440176,
 440177,
 440179,
 440180,
 440181,
 440182,
 440183,
 440184,
 440185,
 440186,
 440187,
 440188,
 440191,
 440192,
 440193,
 440194,
 440195,
 440196,
 440198,
 440200,
 440201,
 440202,
 440203,
 440204,
 440205,
 440206,
 440207,
 440208,
 440210,
 440211,
 440212,
 440214,
 440215,
 440216,
 440217,
 440218,
 440220,
 440222,
 440223,
 440224,
 440225,
 440226,
 440229,
 440238,
 440239,
 440240,
 440241,
 440242,
 440243,
 440244,
 440245,
 440247,
 440248,
 440249,
 440250,
 440251,
 440252,
 440253,
 440255,
 440257,
 440260,
 440261,
 440262,
 440263,
 440264,
 440265,
 440266,
 440267,
 440269,
 440270,
 440271,
 440272,
 440273,
 440274,
 440275,
 440277,
 440278,
 440279,
 440280,
 440281,
 440282,
 440283,
 440284,
 440286,
 440287,
 440288,
 440291,
 440292,
 440293,
 440294,
 440296,
 440297,
 440301,
 440302,
 440303,
 440305,
 440306,
 440307,
 440308,
 440309,
 440310,
 440311,
 440312,
 440313,
 440315,
 440317,
 440318,
 440319,
 440320,
 440321,
 440322,
 440329,
 440332,
 440335,
 440340,
 440350,
 440356,
 440361,
 440362,
 440365,
 440385,
 440428,
 440430,
 440437,
 440439,
 440441,
 440449,
 440474,
 440486,
 440506,
 440507,
 440510,
 440530,
 440533,
 440534,
 440538,
 440540,
 440971,
 440995,
 441009,
 441045,
 441046,
 441057,
 441069,
 441094,
 441100,
 441101,
 441102,
 441106,
 441124,
 441125,
 441147,
 441157,
 441159,
 441160,
 441161,
 441182,
 441195,
 441242,
 441251,
 441254,
 441256,
 441286,
 441303,
 441683,
 441805,
 442003,
 442021,
 442047,
 442062,
 442071,
 442079,
 442097,
 442102,
 442103,
 442124,
 442125,
 442137,
 442321,
 442325,
 442328,
 442443,
 442444,
 442446,
 442447,
 442448,
 442449,
 442450,
 442451,
 442452,
 442453,
 442454,
 442455,
 442456,
 442457,
 442458,
 442459,
 442460,
 442461,
 442462,
 442463,
 442464,
 442465,
 442466,
 442467,
 442468,
 442469,
 442470,
 442471,
 442472,
 442473,
 442476,
 442481,
 442482,
 442486,
 442488,
 442489,
 442494,
 442495,
 442496,
 442499,
 442502,
 442503,
 442505,
 442506,
 442508,
 442509,
 442511,
 442514,
 442517,
 442518,
 442520,
 442521,
 442522,
 442523,
 442524,
 442526,
 442527,
 442529,
 442530,
 442531,
 442534,
 442535,
 442536,
 442537,
 442538,
 442539,
 442541,
 442545,
 442547,
 442548,
 442549,
 442550,
 442551,
 442552,
 442553,
 442554,
 442555,
 442556,
 442557,
 442558,
 442559,
 442560,
 442562,
 442563,
 442564,
 442565,
 442566,
 442567,
 442568,
 442569,
 442570,
 442571,
 442573,
 442574,
 442576,
 442578,
 442579,
 442580,
 442582,
 442583,
 442584,
 442585,
 442586,
 442587,
 442589,
 442591,
 442592,
 442593,
 442594,
 442597,
 442607,
 442624,
 442627,
 442628,
 442629,
 442630,
 442631,
 442632,
 442633,
 442634,
 442635,
 442636,
 442637,
 442638,
 442639,
 442640,
 442641,
 442643,
 442644,
 442649,
 442658,
 442659,
 442660,
 442661,
 442664,
 442666,
 442671,
 442673,
 442674,
 442675,
 442676,
 442677,
 442678,
 442679,
 442680,
 442681,
 442682,
 442684,
 442685,
 442686,
 442688,
 442689,
 442692,
 442693,
 442694,
 442695,
 442696,
 442697,
 442698,
 442699,
 442700,
 442701,
 442702,
 442703,
 442704,
 442705,
 442706,
 442708,
 442710,
 442711,
 442714,
 442724,
 442728,
 442730,
 442731,
 442736,
 442737,
 442738,
 442739,
 442740,
 442741,
 442742,
 442744,
 442746,
 442747,
 442748,
 442749,
 442750,
 442751,
 442752,
 442755,
 ...]

In [6]:
#? test
sidx = 352983
eidx = 426248
Xval = Xval[sidx:,:]
y_val = y_val[sidx:]

# Functions

In [7]:
from sklearn.metrics import classification_report, confusion_matrix, PrecisionRecallDisplay, f1_score, roc_auc_score, roc_curve, auc

def evaluate(y_true, y_pred):
    cm = confusion_matrix(y_true, y_pred)
    print(cm)
    print(classification_report(y_true, y_pred, digits=4))
    roc_auc = roc_auc_score(y_true, y_pred)
    print(roc_auc)

    # display = PrecisionRecallDisplay.from_predictions(y_true, y_pred)
    # _ = display.ax_.set_title("2-class Precision-Recall curve")
    return roc_auc

In [8]:
import pickle

def save_result(model, Xtr, Xt, model_name, selected_fts_names, roc_auc, expname='', config=None):
    ra = round(roc_auc * 100, 2)
    # if ra <= 70: #? not good enough to even bother
    #     return
    
    #? save model
    pickle.dump(model, open(f'{result_dir}/{af}4.{pf}.{model_name}.{expname}.model.__{ra}__.pkl','wb'))

    #? save transformed X as well
    np.save(f'{result_dir}/{af}4.{pf}.{model_name}.{expname}.__{ra}__.data.tr.X.npy', Xtr)
    np.save(f'{result_dir}/{af}4.{pf}.{model_name}.{expname}.__{ra}__.data.t.X.npy', Xt)
    # np.save(f'{result_dir}/{af}4.{pf}.{model_name}.{expname}.__{ra}__.data.v.X.npy', Xv)

    #? save fts
    open(f'{result_dir}/{af}4.{pf}.{model_name}.{expname}.fts.__{ra}__.txt', 'w').write('\n'.join(selected_fts_names))
    
    #? save config
    if config is not None:
        open(f'{result_dir}/{af}4.{pf}.{model_name}.{expname}.config.__{ra}__.txt', 'w').write(config)

In [9]:
from sklearn.cluster import DBSCAN
from sklearn.metrics import silhouette_score

def test_param(x, y, eps, min_samples):
    # eps = 0.0002 #0.0375
    # min_samples = 3
    model = DBSCAN(eps=eps, min_samples=min_samples, n_jobs=6)

    """ cluster """
    model.fit(x)

    """ find clusters """
    y_pred = copy.deepcopy(model.labels_)
    print(y_pred.shape, y.shape)

    """ -1 are outliers (not belong to any clusters) """
    #? relabel to use classification metrics
    y_pred[y_pred != -1] = 0
    y_pred[y_pred == -1] = 1
    #? evaluate
    print('Evaluate')
    evaluate(y, y_pred)

    """ silhouette score 
        A silhouette score ranges from -1 to 1, with -1 being the worst score possible and 1 being the best score. Silhouette scores of 0 suggest overlapping clusters. """
    # score = silhouette_score(x, model.labels_)
    # print('score', score)

    """ save to a df """
    df_cluster__01 = pd.DataFrame(model.labels_, columns=['clusters'])
    df_pred__01 = pd.DataFrame(y_pred, columns=['Label_Pred'])
    df_ft__01 = pd.DataFrame(x)
    df_y = pd.DataFrame(y, columns=['Label'])
    df = pd.concat([df_ft__01, df_y, df_cluster__01, df_pred__01], axis=1)

    print('n_clusters =', len(np.unique(model.labels_)))
    print('\n---------------')
    print('Stat clusters')
    print('All clusters')
    print(df['clusters'].value_counts(), '\n')
    print('Label = 1 (true bots) clusters')
    print(df.loc[df['Label'] == 1]['clusters'].value_counts(), '\n')
    print('Label = 0 (true normal) clusters')
    print(df.loc[df['Label'] == 0]['clusters'].value_counts())

    print('\n---------------')
    print('Stat labels')
    for i in np.unique(model.labels_):
        print(f'cluster {i} labels')
        print(df.loc[df['clusters'] == i]['Label'].value_counts(), '\n')
    
    del x, y, y_pred, model
    del df_ft__01, df_y, df_cluster__01, df_pred__01

    return df

## Exp 03: Run on all features

In [10]:
""" select features """
selected_fts_names = fts_names[:]
', '.join(selected_fts_names)

'Dur, sTos, dTos, Sport, Dport, PktsPerSec, BytesPerSec, SrcBytesPerSec, BytesPerPkt, TotPkts, TotBytes, SrcBytes, DstBytes, DstBytesPerSec, State_CON, State_alltcp, State_INT, State_S_, State_URP, State_ECO, State_RED, State_REQ, State_ECR, State_URH, State_TXD, State_URFIL, State_R_, State_URN, State_RSP, State_URHPRO, State_A_, State_other, Flag_nan, Flag_S, Flag_A, Flag_P, Flag_R, Flag_F, Proto_udp, Proto_tcp, Proto_icmp, Proto_rtp, Proto_rtcp, Proto_igmp, Proto_arp, Proto_other, Service_80, Service_443, Service_21, Service_22, Service_25, Service_6667, Service_other, sTos_0, sTos_2, sTos_3, sTos_1, sTos_-1, dTos_0, dTos_-1, dTos_3, dTos_2, dTos_1'

In [11]:
X__02 = Xval[:,:]
print(X__02.shape)

(411649, 63)

In [12]:
df__02_2 = test_param(X__02, y_val, eps=0.07, min_samples=2)

In [80]:
df__02 = test_param(X__02, y_val, eps=0.000006, min_samples=3)

(73265,) (73265,)
Evaluate
[[  501 72740]
 [    0    24]]
              precision    recall  f1-score   support

           0     1.0000    0.0068    0.0136     73241
           1     0.0003    1.0000    0.0007        24

    accuracy                         0.0072     73265
   macro avg     0.5002    0.5034    0.0071     73265
weighted avg     0.9997    0.0072    0.0136     73265

0.5034202154530932
score 0.4155019720905571

---------------
Stat clusters
All clusters
-1     72764
 2       133
 1        50
 14       40
 6        26
 5        25
 0        20
 11       20
 22       15
 9        15
 25       11
 12       10
 17       10
 20        8
 29        6
 34        6
 3         6
 10        6
 36        5
 28        5
 26        5
 4         5
 24        4
 35        4
 27        4
 33        4
 41        4
 40        4
 18        4
 13        4
 38        3
 37        3
 39        3
 21        3
 32        3
 31        3
 30        3
 23        3
 19        3
 16        3
 15        3
 8         3
 7         3
 42        3
Name: clusters, dtype: int64

Label = 1 (true bots) clusters
-1    24
Name: clusters, dtype: int64
Label = 0 (true normal) clusters
-1     72740
 2       133
 1        50
 14       40
 6        26
 5        25
 0        20
 11       20
 22       15
 9        15
 25       11
 12       10
 17       10
 20        8
 29        6
 34        6
 3         6
 10        6
 36        5
 28        5
 26        5
 4         5
 24        4
 35        4
 27        4
 33        4
 41        4
 40        4
 18        4
 13        4
 38        3
 37        3
 39        3
 21        3
 32        3
 31        3
 30        3
 23        3
 19        3
 16        3
 15        3
 8         3
 7         3
 42        3
Name: clusters, dtype: int64

---------------
Stat labels

In [59]:
df__02

,0,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,Label,clusters,Label_Pred
0,4.156271e-08,0.25,0.25,0.015640,9.832680e-08,9.757955e-03,0.026795,1.662827e-03,0.207530,2.449149e-07,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1,1,1
1,8.145977e-01,0.25,0.25,0.683431,2.478948e-05,2.489370e-09,0.021701,3.035730e-10,0.174295,1.224574e-06,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,1,1
2,3.364123e-07,0.25,0.25,0.690587,2.478577e-05,2.411131e-03,0.022151,2.664263e-04,0.171521,4.898298e-07,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,1,1
3,1.855692e-04,0.25,0.25,0.038299,8.218636e-07,1.055611e-03,0.024958,4.119428e-05,0.482754,1.182939e-04,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,1,1
4,2.239193e-07,0.25,0.25,0.935777,2.478577e-05,3.622440e-03,0.022339,3.568709e-04,0.170400,4.898298e-07,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73260,5.161115e-01,0.25,0.25,0.336985,2.478763e-05,2.357439e-09,0.021701,3.222167e-10,0.176892,7.347447e-07,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,1,1
73261,0.000000e+00,0.25,0.00,0.154081,1.158976e-04,0.000000e+00,0.021701,0.000000e+00,0.151485,0.000000e+00,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0,0,0
73262,2.685851e-07,0.25,0.25,0.730686,2.479134e-05,1.510013e-03,0.022245,3.136055e-04,0.190156,2.449149e-07,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,1,1
73263,2.426909e-01,0.25,0.00,0.915132,7.184350e-05,1.336901e-08,0.021701,5.877872e-09,0.197547,1.959319e-06,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0,1,1
73264,5.868750e-01,0.25,0.25,0.949082,2.478948e-05,2.073186e-09,0.021701,2.723246e-10,0.176238,7.347447e-07,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,1,1

In [12]:
df__02_2 = test_param(X__02, y_val, eps=0.001, min_samples=3)

(73265,) (73265,)
Evaluate
[[27461 45780]
 [    5    19]]
              precision    recall  f1-score   support

           0     0.9998    0.3749    0.5454     73241
           1     0.0004    0.7917    0.0008        24

    accuracy                         0.3751     73265
   macro avg     0.5001    0.5833    0.2731     73265
weighted avg     0.9995    0.3751    0.5452     73265

0.5833034661824206
score -0.6005066321920994

---------------
Stat clusters
All clusters
-1       45799
 8        1195
 45       1183
 15       1049
 13        780
         ...
 910         3
 913         3
 1750        3
 922         3
 1769        3
Name: clusters, Length: 1773, dtype: int64

Label = 1 (true bots) clusters
-1       19
 1541     3
 476      2
Name: clusters, dtype: int64
Label = 0 (true normal) clusters
-1       45780
 8        1195
 45       1183
 15       1049
 13        780
         ...
 913         3
 1750        3
 922         3
 1769        3
 476         1
Name: clusters, Length: 1772, dtype: int64

---------------
Stat labels

In [14]:
df__02_2 = test_param(X__02, y_val, eps=0.003, min_samples=3)

(73265,) (73265,)
Evaluate
[[49040 24201]
 [   10    14]]
              precision    recall  f1-score   support

           0     0.9998    0.6696    0.8020     73241
           1     0.0006    0.5833    0.0012        24

    accuracy                         0.6695     73265
   macro avg     0.5002    0.6265    0.4016     73265
weighted avg     0.9995    0.6695    0.8018     73265

0.6264518279834156

---------------
Stat clusters
All clusters
 0       34682
-1       24215
 11        531
 15        438
 10        220
         ...
 1610        3
 491         3
 1228        3
 488         3
 1716        3
Name: clusters, Length: 1725, dtype: int64

Label = 1 (true bots) clusters
-1       14
 0        4
 1499     3
 387      2
 32       1
Name: clusters, dtype: int64
Label = 0 (true normal) clusters
 0       34678
-1       24201
 11        531
 15        438
 10        220
         ...
 491         3
 1228        3
 488         3
 1716        3
 387         1
Name: clusters, Length: 1724, dtype: int64

---------------
Stat labels

In [15]:
df__02_2 = test_param(X__02, y_val, eps=0.006, min_samples=3)

(73265,) (73265,)
Evaluate
[[59083 14158]
 [   15     9]]
              precision    recall  f1-score   support

           0     0.9997    0.8067    0.8929     73241
           1     0.0006    0.3750    0.0013        24

    accuracy                         0.8066     73265
   macro avg     0.5002    0.5908    0.4471     73265
weighted avg     0.9994    0.8066    0.8926     73265

0.5908464862576972

---------------
Stat clusters
All clusters
 0       42553
-1       14167
 23       1518
 8         855
 22        561
         ...
 450         3
 830         3
 829         3
 462         3
 1217        3
Name: clusters, Length: 1313, dtype: int64

Label = 1 (true bots) clusters
-1       9
 0       7
 1175    4
 38      2
 8       1
 22      1
Name: clusters, dtype: int64
Label = 0 (true normal) clusters
 0       42546
-1       14158
 23       1518
 8         854
 13        561
         ...
 830         3
 829         3
 462         3
 1217        3
 38          1
Name: clusters, Length: 1312, dtype: int64

---------------
Stat labels

In [27]:
df__02_2 = test_param(X__02, y_val, eps=0.01, min_samples=2)

(73265,) (73265,)
Evaluate
[[66712  6529]
 [   21     3]]
              precision    recall  f1-score   support

           0     0.9997    0.9109    0.9532     73241
           1     0.0005    0.1250    0.0009        24

    accuracy                         0.9106     73265
   macro avg     0.5001    0.5179    0.4771     73265
weighted avg     0.9994    0.9106    0.9529     73265

0.5179279706721646
n_clusters = 2132

---------------
Stat clusters
All clusters
 0       46616
-1        6532
 1        3739
 20       1280
 7        1177
         ...
 1389        2
 1390        2
 509         2
 1392        2
 1065        2
Name: clusters, Length: 2132, dtype: int64

Label = 1 (true bots) clusters
 0       9
 20      6
 1922    4
-1       3
 37      2
Name: clusters, dtype: int64

Label = 0 (true normal) clusters
 0       46607
-1        6529
 1        3739
 20       1274
 7        1177
         ...
 1387        2
 1388        2
 1389        2
 1390        2
 37          1
Name: clusters, Length: 2131, dtype: int64

---------------
Stat labels
cluster -1 labels
0    6529
1       3
Name: Label, dtype: int64

cluster 0 labels
0    46607
1        9
Name: Label, dtype: int64

cluster 1 labels
0    3739
Name: Label, dtype: int64

cluster 2 labels
0    543
Name: Label, dtype: int64

cluster 3 labels
0    81
Name: Label, dtype: int64

cluster 4 labels
0    32
Name: Label, dtype: int64

cluster 5 labels
0    4
Name: Label, dtype: int64

cluster 6 labels
0    3
Name: Label, dtype: int64

cluster 7 labels
0    1177
Name: Label, dtype: int64

cluster 8 labels
0    3
Name: Label, dtype: int64

cluster 9 labels
0    6
Name: Label, dtype: int64

cluster 10 labels
0    3
Name: Label, dtype: int64

cluster 11 labels
0    3
Name: Label, dtype: int64

cluster 12 labels
0    19
Name: Label, dtype: int64

cluster 13 labels
0    662
Name: Label, dtype: int64

cluster 14 labels
0    7
Name: Label, dtype: int64

cluster 15 labels
0    6
Name: Label, dtype: int64

cluster 16 labels
0    6
Name: Label, dtype: int64

cluster 17 labels
0    44
Name: Label, dtype: int64

cluster 18 labels
0    524
Name: Label, dtype: int64

cluster 19 labels
0    44
Name: Label, dtype: int64

cluster 20 labels
0    1274
1       6
Name: Label, dtype: int64

cluster 21 labels
0    43
Name: Label, dtype: int64

cluster 22 labels
0    15
Name: Label, dtype: int64

cluster 23 labels
0    121
Name: Label, dtype: int64

cluster 24 labels
0    10
Name: Label, dtype: int64

cluster 25 labels
0    2
Name: Label, dtype: int64

cluster 26 labels
0    12
Name: Label, dtype: int64

cluster 27 labels
0    42
Name: Label, dtype: int64

cluster 28 labels
0    5
Name: Label, dtype: int64

cluster 29 labels
0    5
Name: Label, dtype: int64

cluster 30 labels
0    2
Name: Label, dtype: int64

cluster 31 labels
0    18
Name: Label, dtype: int64

cluster 32 labels
0    7
Name: Label, dtype: int64

cluster 33 labels
0    11
Name: Label, dtype: int64

cluster 34 labels
0    37
Name: Label, dtype: int64

cluster 35 labels
0    2
Name: Label, dtype: int64

cluster 36 labels
0    5
Name: Label, dtype: int64

cluster 37 labels
1    2
0    1
Name: Label, dtype: int64

cluster 38 labels
0    272
Name: Label, dtype: int64

cluster 39 labels
0    4
Name: Label, dtype: int64

cluster 40 labels
0    149
Name: Label, dtype: int64

cluster 41 labels
0    59
Name: Label, dtype: int64

cluster 42 labels
0    2
Name: Label, dtype: int64

cluster 43 labels
0    2
Name: Label, dtype: int64

cluster 44 labels
0    35
Name: Label, dtype: int64

cluster 45 labels
0    3
Name: Label, dtype: int64

cluster 46 labels
0    2
Name: Label, dtype: int64

cluster 47 labels
0    22
Name: Label, dtype: int64

cluster 48 labels
0    2
Name: Label, dtype: int64

cluster 49 labels
0    9
Name: Label, dtype: int64

cluster 50 labels
0    36
Name: Label, dtype: int64

cluster 51 labels
0    2
Name: Label, dtype: int64

cluster 52 labels
0    7
Name: Label, dtype: int64

cluster 53 labels
0    25
Name: Label, dtype: int64

cluster 54 labels
0    11
Name: Label, dtype: int64

cluster 55 labels
0    6
Name: Label, dtype: int64

cluster 56 labels
0    2
Name: Label, dtype: int64

cluster 57 labels
0    21
Name: Label, dtype: int64

cluster 58 labels
0    4
Name: Label, dtype: int64

cluster 59 labels
0    3
Name: Label, dtype: int64

cluster 60 labels
0    12
Name: Label, dtype: int64

cluster 61 labels
0    10
Name: Label, dtype: int64

cluster 62 labels
0    6
Name: Label, dtype: int64

cluster 63 labels
0    7
Name: Label, dtype: int64

cluster 64 labels
0    2
Name: Label, dtype: int64

cluster 65 labels
0    31
Name: Label, dtype: int64

cluster 66 labels
0    27
Name: Label, dtype: int64

cluster 67 labels
0    9
Name: Label, dtype: int64

cluster 68 labels
0    2
Name: Label, dtype: int64

cluster 69 labels
0    2
Name: Label, dtype: int64

cluster 70 labels
0    2
Name: Label, dtype: int64

cluster 71 labels
0    28
Name: Label, dtype: int64

cluster 72 labels
0    4
Name: Label, dtype: int64

cluster 73 labels
0    4
Name: Label, dtype: int64

cluster 74 labels
0    35
Name: Label, dtype: int64

cluster 75 labels
0    13
Name: Label, dtype: int64

cluster 76 labels
0    14
Name: Label, dtype: int64

cluster 77 labels
0    2
Name: Label, dtype: int64

cluster 78 labels
0    15
Name: Label, dtype: int64

cluster 79 labels
0    20
Name: Label, dtype: int64

cluster 80 labels
0    2
Name: Label, dtype: int64

cluster 81 labels
0    17
Name: Label, dtype: int64

cluster 82 labels
0    8
Name: Label, dtype: int64

cluster 83 labels
0    2
Name: Label, dtype: int64

cluster 84 labels
0    2
Name: Label, dtype: int64

cluster 85 labels
0    2
Name: Label, dtype: int64

cluster 86 labels
0    3
Name: Label, dtype: int64

cluster 87 labels
0    8
Name: Label, dtype: int64

cluster 88 labels
0    5
Name: Label, dtype: int64

cluster 89 labels
0    42
Name: Label, dtype: int64

cluster 90 labels
0    6
Name: Label, dtype: int64

cluster 91 labels
0    2
Name: Label, dtype: int64

cluster 92 labels
0    13
Name: Label, dtype: int64

cluster 93 labels
0    2
Name: Label, dtype: int64

cluster 94 labels
0    3
Name: Label, dtype: int64

cluster 95 labels
0    2
Name: Label, dtype: int64

cluster 96 labels
0    4
Name: Label, dtype: int64

cluster 97 labels
0    63
Name: Label, dtype: int64

cluster 98 labels
0    3
Name: Label, dtype: int64

cluster 99 labels
0    173
Name: Label, dtype: int64

cluster 100 labels
0    5
Name: Label, dtype: int64

cluster 101 labels
0    3
Name: Label, dtype: int64

cluster 102 labels
0    27
Name: Label, dtype: int64

cluster 103 labels
0    3
Name: Label, dtype: int64

cluster 104 labels
0    5
Name: Label, dtype: int64

cluster 105 labels
0    11
Name: Label, dtype: int64

cluster 106 labels
0    37
Name: Label, dtype: int64

cluster 107 labels
0    3
Name: Label, dtype: int64

cluster 108 labels
0    26
Name: Label, dtype: int64

cluster 109 labels
0    5
Name: Label, dtype: int64

cluster 110 labels
0    4
Name: Label, dtype: int64

cluster 111 labels
0    22
Name: Label, dtype: int64

cluster 112 labels
0    11
Name: Label, dtype: int64

cluster 113 labels
0    2
Name: Label, dtype: int64

cluster 114 labels
0    5
Name: Label, dtype: int64

cluster 115 labels
0    18
Name: Label, dtype: int64

cluster 116 labels
0    130
Name: Label, dtype: int64

cluster 117 labels
0    2
Name: Label, dtype: int64

cluster 118 labels
0    4
Name: Label, dtype: int64

cluster 119 labels
0    100
Name: Label, dtype: int64

cluster 120 labels
0    14
Name: Label, dtype: int64

cluster 121 labels
0    3
Name: Label, dtype: int64

cluster 122 labels
0    5
Name: Label, dtype: int64

cluster 123 labels
0    28
Name: Label, dtype: int64

cluster 124 labels
0    2
Name: Label, dtype: int64

cluster 125 labels
0    12
Name: Label, dtype: int64

cluster 126 labels
0    2
Name: Label, dtype: int64

cluster 127 labels
0    2
Name: Label, dtype: int64

cluster 128 labels
0    3
Name: Label, dtype: int64

cluster 129 labels
0    7
Name: Label, dtype: int64

cluster 130 labels
0    7
Name: Label, dtype: int64

cluster 131 labels
0    4
Name: Label, dtype: int64

cluster 132 labels
0    5
Name: Label, dtype: int64

cluster 133 labels
0    3
Name: Label, dtype: int64

cluster 134 labels
0    3
Name: Label, dtype: int64

cluster 135 labels
0    5
Name: Label, dtype: int64

cluster 136 labels
0    13
Name: Label, dtype: int64

cluster 137 labels
0    34
Name: Label, dtype: int64

cluster 138 labels
0    5
Name: Label, dtype: int64

cluster 139 labels
0    6
Name: Label, dtype: int64

cluster 140 labels
0    36
Name: Label, dtype: int64

cluster 141 labels
0    9
Name: Label, dtype: int64

cluster 142 labels
0    2
Name: Label, dtype: int64

cluster 143 labels
0    13
Name: Label, dtype: int64

cluster 144 labels
0    3
Name: Label, dtype: int64

cluster 145 labels
0    3
Name: Label, dtype: int64

cluster 146 labels
0    47
Name: Label, dtype: int64

cluster 147 labels
0    3
Name: Label, dtype: int64

cluster 148 labels
0    2
Name: Label, dtype: int64

cluster 149 labels
0    9
Name: Label, dtype: int64

cluster 150 labels
0    10
Name: Label, dtype: int64

cluster 151 labels
0    59
Name: Label, dtype: int64

cluster 152 labels
0    22
Name: Label, dtype: int64

cluster 153 labels
0    3
Name: Label, dtype: int64

cluster 154 labels
0    11
Name: Label, dtype: int64

cluster 155 labels
0    12
Name: Label, dtype: int64

cluster 156 labels
0    4
Name: Label, dtype: int64

cluster 157 labels
0    4
Name: Label, dtype: int64

cluster 158 labels
0    46
Name: Label, dtype: int64

cluster 159 labels
0    3
Name: Label, dtype: int64

cluster 160 labels
0    3
Name: Label, dtype: int64

cluster 161 labels
0    7
Name: Label, dtype: int64

cluster 162 labels
0    4
Name: Label, dtype: int64

cluster 163 labels
0    2
Name: Label, dtype: int64

cluster 164 labels
0    24
Name: Label, dtype: int64

cluster 165 labels
0    12
Name: Label, dtype: int64

cluster 166 labels
0    2
Name: Label, dtype: int64

cluster 167 labels
0    8
Name: Label, dtype: int64

cluster 168 labels
0    9
Name: Label, dtype: int64

cluster 169 labels
0    2
Name: Label, dtype: int64

cluster 170 labels
0    3
Name: Label, dtype: int64

cluster 171 labels
0    2
Name: Label, dtype: int64

cluster 172 labels
0    2
Name: Label, dtype: int64

cluster 173 labels
0    3
Name: Label, dtype: int64

cluster 174 labels
0    4
Name: Label, dtype: int64

cluster 175 labels
0    5
Name: Label, dtype: int64

cluster 176 labels
0    5
Name: Label, dtype: int64

cluster 177 labels
0    2
Name: Label, dtype: int64

cluster 178 labels
0    50
Name: Label, dtype: int64

cluster 179 labels
0    7
Name: Label, dtype: int64

cluster 180 labels
0    6
Name: Label, dtype: int64

cluster 181 labels
0    15
Name: Label, dtype: int64

cluster 182 labels
0    3
Name: Label, dtype: int64

cluster 183 labels
0    3
Name: Label, dtype: int64

cluster 184 labels
0    12
Name: Label, dtype: int64

cluster 185 labels
0    2
Name: Label, dtype: int64

cluster 186 labels
0    19
Name: Label, dtype: int64

cluster 187 labels
0    71
Name: Label, dtype: int64

cluster 188 labels
0    4
Name: Label, dtype: int64

cluster 189 labels
0    3
Name: Label, dtype: int64

cluster 190 labels
0    26
Name: Label, dtype: int64

cluster 191 labels
0    4
Name: Label, dtype: int64

cluster 192 labels
0    14
Name: Label, dtype: int64

cluster 193 labels
0    18
Name: Label, dtype: int64

cluster 194 labels
0    34
Name: Label, dtype: int64

cluster 195 labels
0    5
Name: Label, dtype: int64

cluster 196 labels
0    5
Name: Label, dtype: int64

cluster 197 labels
0    2
Name: Label, dtype: int64

cluster 198 labels
0    2
Name: Label, dtype: int64

cluster 199 labels
0    23
Name: Label, dtype: int64

cluster 200 labels
0    8
Name: Label, dtype: int64

cluster 201 labels
0    3
Name: Label, dtype: int64

cluster 202 labels
0    4
Name: Label, dtype: int64

cluster 203 labels
0    2
Name: Label, dtype: int64

cluster 204 labels
0    23
Name: Label, dtype: int64

cluster 205 labels
0    6
Name: Label, dtype: int64

cluster 206 labels
0    14
Name: Label, dtype: int64

cluster 207 labels
0    13
Name: Label, dtype: int64

cluster 208 labels
0    9
Name: Label, dtype: int64

cluster 209 labels
0    128
Name: Label, dtype: int64

cluster 210 labels
0    3
Name: Label, dtype: int64

cluster 211 labels
0    2
Name: Label, dtype: int64

cluster 212 labels
0    3
Name: Label, dtype: int64

cluster 213 labels
0    2
Name: Label, dtype: int64

cluster 214 labels
0    28
Name: Label, dtype: int64

cluster 215 labels
0    4
Name: Label, dtype: int64

cluster 216 labels
0    4
Name: Label, dtype: int64

cluster 217 labels
0    60
Name: Label, dtype: int64

cluster 218 labels
0    12
Name: Label, dtype: int64

cluster 219 labels
0    3
Name: Label, dtype: int64

cluster 220 labels
0    3
Name: Label, dtype: int64

cluster 221 labels
0    4
Name: Label, dtype: int64

cluster 222 labels
0    5
Name: Label, dtype: int64

cluster 223 labels
0    3
Name: Label, dtype: int64

cluster 224 labels
0    10
Name: Label, dtype: int64

cluster 225 labels
0    2
Name: Label, dtype: int64

cluster 226 labels
0    2
Name: Label, dtype: int64

cluster 227 labels
0    12
Name: Label, dtype: int64

cluster 228 labels
0    2
Name: Label, dtype: int64

cluster 229 labels
0    2
Name: Label, dtype: int64

cluster 230 labels
0    2
Name: Label, dtype: int64

cluster 231 labels
0    3
Name: Label, dtype: int64

cluster 232 labels
0    2
Name: Label, dtype: int64

cluster 233 labels
0    2
Name: Label, dtype: int64

cluster 234 labels
0    8
Name: Label, dtype: int64

cluster 235 labels
0    2
Name: Label, dtype: int64

cluster 236 labels
0    3
Name: Label, dtype: int64

cluster 237 labels
0    2
Name: Label, dtype: int64

cluster 238 labels
0    5
Name: Label, dtype: int64

cluster 239 labels
0    2
Name: Label, dtype: int64

cluster 240 labels
0    12
Name: Label, dtype: int64

cluster 241 labels
0    4
Name: Label, dtype: int64

cluster 242 labels
0    7
Name: Label, dtype: int64

cluster 243 labels
0    5
Name: Label, dtype: int64

cluster 244 labels
0    3
Name: Label, dtype: int64

cluster 245 labels
0    2
Name: Label, dtype: int64

cluster 246 labels
0    5
Name: Label, dtype: int64

cluster 247 labels
0    2
Name: Label, dtype: int64

cluster 248 labels
0    7
Name: Label, dtype: int64

cluster 249 labels
0    12
Name: Label, dtype: int64

cluster 250 labels
0    3
Name: Label, dtype: int64

cluster 251 labels
0    4
Name: Label, dtype: int64

cluster 252 labels
0    4
Name: Label, dtype: int64

cluster 253 labels
0    2
Name: Label, dtype: int64

cluster 254 labels
0    6
Name: Label, dtype: int64

cluster 255 labels
0    2
Name: Label, dtype: int64

cluster 256 labels
0    5
Name: Label, dtype: int64

cluster 257 labels
0    5
Name: Label, dtype: int64

cluster 258 labels
0    2
Name: Label, dtype: int64

cluster 259 labels
0    3
Name: Label, dtype: int64

cluster 260 labels
0    2
Name: Label, dtype: int64

cluster 261 labels
0    2
Name: Label, dtype: int64

cluster 262 labels
0    4
Name: Label, dtype: int64

cluster 263 labels
0    17
Name: Label, dtype: int64

cluster 264 labels
0    3
Name: Label, dtype: int64

cluster 265 labels
0    2
Name: Label, dtype: int64

cluster 266 labels
0    10
Name: Label, dtype: int64

cluster 267 labels
0    2
Name: Label, dtype: int64

cluster 268 labels
0    2
Name: Label, dtype: int64

cluster 269 labels
0    5
Name: Label, dtype: int64

cluster 270 labels
0    16
Name: Label, dtype: int64

cluster 271 labels
0    17
Name: Label, dtype: int64

cluster 272 labels
0    2
Name: Label, dtype: int64

cluster 273 labels
0    2
Name: Label, dtype: int64

cluster 274 labels
0    23
Name: Label, dtype: int64

cluster 275 labels
0    2
Name: Label, dtype: int64

cluster 276 labels
0    5
Name: Label, dtype: int64

cluster 277 labels
0    9
Name: Label, dtype: int64

cluster 278 labels
0    2
Name: Label, dtype: int64

cluster 279 labels
0    2
Name: Label, dtype: int64

cluster 280 labels
0    3
Name: Label, dtype: int64

cluster 281 labels
0    2
Name: Label, dtype: int64

cluster 282 labels
0    5
Name: Label, dtype: int64

cluster 283 labels
0    7
Name: Label, dtype: int64

cluster 284 labels
0    9
Name: Label, dtype: int64

cluster 285 labels
0    3
Name: Label, dtype: int64

cluster 286 labels
0    2
Name: Label, dtype: int64

cluster 287 labels
0    5
Name: Label, dtype: int64

cluster 288 labels
0    2
Name: Label, dtype: int64

cluster 289 labels
0    4
Name: Label, dtype: int64

cluster 290 labels
0    3
Name: Label, dtype: int64

cluster 291 labels
0    7
Name: Label, dtype: int64

cluster 292 labels
0    8
Name: Label, dtype: int64

cluster 293 labels
0    4
Name: Label, dtype: int64

cluster 294 labels
0    25
Name: Label, dtype: int64

cluster 295 labels
0    2
Name: Label, dtype: int64

cluster 296 labels
0    2
Name: Label, dtype: int64

cluster 297 labels
0    2
Name: Label, dtype: int64

cluster 298 labels
0    4
Name: Label, dtype: int64

cluster 299 labels
0    10
Name: Label, dtype: int64

cluster 300 labels
0    4
Name: Label, dtype: int64

cluster 301 labels
0    2
Name: Label, dtype: int64

cluster 302 labels
0    3
Name: Label, dtype: int64

cluster 303 labels
0    3
Name: Label, dtype: int64

cluster 304 labels
0    9
Name: Label, dtype: int64

cluster 305 labels
0    37
Name: Label, dtype: int64

cluster 306 labels
0    4
Name: Label, dtype: int64

cluster 307 labels
0    7
Name: Label, dtype: int64

cluster 308 labels
0    92
Name: Label, dtype: int64

cluster 309 labels
0    2
Name: Label, dtype: int64

cluster 310 labels
0    7
Name: Label, dtype: int64

cluster 311 labels
0    2
Name: Label, dtype: int64

cluster 312 labels
0    23
Name: Label, dtype: int64

cluster 313 labels
0    2
Name: Label, dtype: int64

cluster 314 labels
0    2
Name: Label, dtype: int64

cluster 315 labels
0    3
Name: Label, dtype: int64

cluster 316 labels
0    2
Name: Label, dtype: int64

cluster 317 labels
0    6
Name: Label, dtype: int64

cluster 318 labels
0    3
Name: Label, dtype: int64

cluster 319 labels
0    45
Name: Label, dtype: int64

cluster 320 labels
0    4
Name: Label, dtype: int64

cluster 321 labels
0    3
Name: Label, dtype: int64

cluster 322 labels
0    2
Name: Label, dtype: int64

cluster 323 labels
0    4
Name: Label, dtype: int64

cluster 324 labels
0    8
Name: Label, dtype: int64

cluster 325 labels
0    2
Name: Label, dtype: int64

cluster 326 labels
0    3
Name: Label, dtype: int64

cluster 327 labels
0    2
Name: Label, dtype: int64

cluster 328 labels
0    11
Name: Label, dtype: int64

cluster 329 labels
0    2
Name: Label, dtype: int64

cluster 330 labels
0    5
Name: Label, dtype: int64

cluster 331 labels
0    2
Name: Label, dtype: int64

cluster 332 labels
0    3
Name: Label, dtype: int64

cluster 333 labels
0    4
Name: Label, dtype: int64

cluster 334 labels
0    6
Name: Label, dtype: int64

cluster 335 labels
0    2
Name: Label, dtype: int64

cluster 336 labels
0    22
Name: Label, dtype: int64

cluster 337 labels
0    48
Name: Label, dtype: int64

cluster 338 labels
0    54
Name: Label, dtype: int64

cluster 339 labels
0    128
Name: Label, dtype: int64

cluster 340 labels
0    6
Name: Label, dtype: int64

cluster 341 labels
0    78
Name: Label, dtype: int64

cluster 342 labels
0    3
Name: Label, dtype: int64

cluster 343 labels
0    2
Name: Label, dtype: int64

cluster 344 labels
0    9
Name: Label, dtype: int64

cluster 345 labels
0    45
Name: Label, dtype: int64

cluster 346 labels
0    2
Name: Label, dtype: int64

cluster 347 labels
0    19
Name: Label, dtype: int64

cluster 348 labels
0    7
Name: Label, dtype: int64

cluster 349 labels
0    2
Name: Label, dtype: int64

cluster 350 labels
0    2
Name: Label, dtype: int64

cluster 351 labels
0    2
Name: Label, dtype: int64

cluster 352 labels
0    2
Name: Label, dtype: int64

cluster 353 labels
0    2
Name: Label, dtype: int64

cluster 354 labels
0    22
Name: Label, dtype: int64


In [29]:
df__02_2 = test_param(X__02, y_val, eps=0.06, min_samples=3)

(73265,) (73265,)
Evaluate
[[72525   716]
 [   23     1]]
              precision    recall  f1-score   support

           0     0.9997    0.9902    0.9949     73241
           1     0.0014    0.0417    0.0027        24

    accuracy                         0.9899     73265
   macro avg     0.5005    0.5159    0.4988     73265
weighted avg     0.9994    0.9899    0.9946     73265

0.5159453607496712
n_clusters = 202

---------------
Stat clusters
All clusters
 0      58599
 4       2462
 5       2296
 9       1447
-1        717
        ...
 164        3
 185        3
 141        3
 198        3
 167        3
Name: clusters, Length: 202, dtype: int64

Label = 1 (true bots) clusters
 0      9
 9      6
 194    4
 19     2
-1      1
 184    1
 14     1
Name: clusters, dtype: int64

Label = 0 (true normal) clusters
 0      58590
 4       2462
 5       2296
 9       1441
-1        716
        ...
 137        3
 185        3
 141        3
 167        3
 184        2
Name: clusters, Length: 201, dtype: int64

---------------
Stat labels
cluster -1 labels
0    716
1      1
Name: Label, dtype: int64

cluster 0 labels
0    58590
1        9
Name: Label, dtype: int64

cluster 1 labels
0    559
Name: Label, dtype: int64

cluster 2 labels
0    60
Name: Label, dtype: int64

cluster 3 labels
0    39
Name: Label, dtype: int64

cluster 4 labels
0    2462
Name: Label, dtype: int64

cluster 5 labels
0    2296
Name: Label, dtype: int64

cluster 6 labels
0    3
Name: Label, dtype: int64

cluster 7 labels
0    601
Name: Label, dtype: int64

cluster 8 labels
0    526
Name: Label, dtype: int64

cluster 9 labels
0    1441
1       6
Name: Label, dtype: int64

cluster 10 labels
0    578
Name: Label, dtype: int64

cluster 11 labels
0    8
Name: Label, dtype: int64

cluster 12 labels
0    12
Name: Label, dtype: int64

cluster 13 labels
0    14
Name: Label, dtype: int64

cluster 14 labels
0    193
1      1
Name: Label, dtype: int64

cluster 15 labels
0    37
Name: Label, dtype: int64

cluster 16 labels
0    366
Name: Label, dtype: int64

cluster 17 labels
0    73
Name: Label, dtype: int64

cluster 18 labels
0    250
Name: Label, dtype: int64

cluster 19 labels
0    91
1     2
Name: Label, dtype: int64

cluster 20 labels
0    503
Name: Label, dtype: int64

cluster 21 labels
0    8
Name: Label, dtype: int64

cluster 22 labels
0    4
Name: Label, dtype: int64

cluster 23 labels
0    91
Name: Label, dtype: int64

cluster 24 labels
0    500
Name: Label, dtype: int64

cluster 25 labels
0    23
Name: Label, dtype: int64

cluster 26 labels
0    54
Name: Label, dtype: int64

cluster 27 labels
0    9
Name: Label, dtype: int64

cluster 28 labels
0    4
Name: Label, dtype: int64

cluster 29 labels
0    328
Name: Label, dtype: int64

cluster 30 labels
0    291
Name: Label, dtype: int64

cluster 31 labels
0    445
Name: Label, dtype: int64

cluster 32 labels
0    109
Name: Label, dtype: int64

cluster 33 labels
0    33
Name: Label, dtype: int64

cluster 34 labels
0    7
Name: Label, dtype: int64

cluster 35 labels
0    5
Name: Label, dtype: int64

cluster 36 labels
0    135
Name: Label, dtype: int64

cluster 37 labels
0    4
Name: Label, dtype: int64

cluster 38 labels
0    9
Name: Label, dtype: int64

cluster 39 labels
0    6
Name: Label, dtype: int64

cluster 40 labels
0    91
Name: Label, dtype: int64

cluster 41 labels
0    29
Name: Label, dtype: int64

cluster 42 labels
0    121
Name: Label, dtype: int64

cluster 43 labels
0    25
Name: Label, dtype: int64

cluster 44 labels
0    5
Name: Label, dtype: int64

cluster 45 labels
0    19
Name: Label, dtype: int64

cluster 46 labels
0    4
Name: Label, dtype: int64

cluster 47 labels
0    31
Name: Label, dtype: int64

cluster 48 labels
0    22
Name: Label, dtype: int64

cluster 49 labels
0    3
Name: Label, dtype: int64

cluster 50 labels
0    49
Name: Label, dtype: int64

cluster 51 labels
0    29
Name: Label, dtype: int64

cluster 52 labels
0    3
Name: Label, dtype: int64

cluster 53 labels
0    14
Name: Label, dtype: int64

cluster 54 labels
0    93
Name: Label, dtype: int64

cluster 55 labels
0    8
Name: Label, dtype: int64

cluster 56 labels
0    8
Name: Label, dtype: int64

cluster 57 labels
0    5
Name: Label, dtype: int64

cluster 58 labels
0    32
Name: Label, dtype: int64

cluster 59 labels
0    4
Name: Label, dtype: int64

cluster 60 labels
0    3
Name: Label, dtype: int64

cluster 61 labels
0    4
Name: Label, dtype: int64

cluster 62 labels
0    5
Name: Label, dtype: int64

cluster 63 labels
0    11
Name: Label, dtype: int64

cluster 64 labels
0    108
Name: Label, dtype: int64

cluster 65 labels
0    3
Name: Label, dtype: int64

cluster 66 labels
0    11
Name: Label, dtype: int64

cluster 67 labels
0    8
Name: Label, dtype: int64

cluster 68 labels
0    3
Name: Label, dtype: int64

cluster 69 labels
0    7
Name: Label, dtype: int64

cluster 70 labels
0    9
Name: Label, dtype: int64

cluster 71 labels
0    79
Name: Label, dtype: int64

cluster 72 labels
0    6
Name: Label, dtype: int64

cluster 73 labels
0    16
Name: Label, dtype: int64

cluster 74 labels
0    5
Name: Label, dtype: int64

cluster 75 labels
0    5
Name: Label, dtype: int64

cluster 76 labels
0    5
Name: Label, dtype: int64

cluster 77 labels
0    16
Name: Label, dtype: int64

cluster 78 labels
0    5
Name: Label, dtype: int64

cluster 79 labels
0    6
Name: Label, dtype: int64

cluster 80 labels
0    7
Name: Label, dtype: int64

cluster 81 labels
0    16
Name: Label, dtype: int64

cluster 82 labels
0    10
Name: Label, dtype: int64

cluster 83 labels
0    40
Name: Label, dtype: int64

cluster 84 labels
0    16
Name: Label, dtype: int64

cluster 85 labels
0    3
Name: Label, dtype: int64

cluster 86 labels
0    18
Name: Label, dtype: int64

cluster 87 labels
0    12
Name: Label, dtype: int64

cluster 88 labels
0    6
Name: Label, dtype: int64

cluster 89 labels
0    13
Name: Label, dtype: int64

cluster 90 labels
0    8
Name: Label, dtype: int64

cluster 91 labels
0    8
Name: Label, dtype: int64

cluster 92 labels
0    7
Name: Label, dtype: int64

cluster 93 labels
0    4
Name: Label, dtype: int64

cluster 94 labels
0    18
Name: Label, dtype: int64

cluster 95 labels
0    3
Name: Label, dtype: int64

cluster 96 labels
0    13
Name: Label, dtype: int64

cluster 97 labels
0    6
Name: Label, dtype: int64

cluster 98 labels
0    7
Name: Label, dtype: int64

cluster 99 labels
0    3
Name: Label, dtype: int64

cluster 100 labels
0    12
Name: Label, dtype: int64

cluster 101 labels
0    11
Name: Label, dtype: int64

cluster 102 labels
0    9
Name: Label, dtype: int64

cluster 103 labels
0    5
Name: Label, dtype: int64

cluster 104 labels
0    4
Name: Label, dtype: int64

cluster 105 labels
0    4
Name: Label, dtype: int64

cluster 106 labels
0    34
Name: Label, dtype: int64

cluster 107 labels
0    3
Name: Label, dtype: int64

cluster 108 labels
0    16
Name: Label, dtype: int64

cluster 109 labels
0    10
Name: Label, dtype: int64

cluster 110 labels
0    20
Name: Label, dtype: int64

cluster 111 labels
0    5
Name: Label, dtype: int64

cluster 112 labels
0    3
Name: Label, dtype: int64

cluster 113 labels
0    4
Name: Label, dtype: int64

cluster 114 labels
0    4
Name: Label, dtype: int64

cluster 115 labels
0    5
Name: Label, dtype: int64

cluster 116 labels
0    6
Name: Label, dtype: int64

cluster 117 labels
0    10
Name: Label, dtype: int64

cluster 118 labels
0    7
Name: Label, dtype: int64

cluster 119 labels
0    17
Name: Label, dtype: int64

cluster 120 labels
0    4
Name: Label, dtype: int64

cluster 121 labels
0    8
Name: Label, dtype: int64

cluster 122 labels
0    9
Name: Label, dtype: int64

cluster 123 labels
0    6
Name: Label, dtype: int64

cluster 124 labels
0    3
Name: Label, dtype: int64

cluster 125 labels
0    4
Name: Label, dtype: int64

cluster 126 labels
0    3
Name: Label, dtype: int64

cluster 127 labels
0    6
Name: Label, dtype: int64

cluster 128 labels
0    7
Name: Label, dtype: int64

cluster 129 labels
0    3
Name: Label, dtype: int64

cluster 130 labels
0    9
Name: Label, dtype: int64

cluster 131 labels
0    4
Name: Label, dtype: int64

cluster 132 labels
0    3
Name: Label, dtype: int64

cluster 133 labels
0    4
Name: Label, dtype: int64

cluster 134 labels
0    3
Name: Label, dtype: int64

cluster 135 labels
0    11
Name: Label, dtype: int64

cluster 136 labels
0    4
Name: Label, dtype: int64

cluster 137 labels
0    3
Name: Label, dtype: int64

cluster 138 labels
0    8
Name: Label, dtype: int64

cluster 139 labels
0    5
Name: Label, dtype: int64

cluster 140 labels
0    7
Name: Label, dtype: int64

cluster 141 labels
0    3
Name: Label, dtype: int64

cluster 142 labels
0    9
Name: Label, dtype: int64

cluster 143 labels
0    3
Name: Label, dtype: int64

cluster 144 labels
0    5
Name: Label, dtype: int64

cluster 145 labels
0    4
Name: Label, dtype: int64

cluster 146 labels
0    3
Name: Label, dtype: int64

cluster 147 labels
0    3
Name: Label, dtype: int64

cluster 148 labels
0    5
Name: Label, dtype: int64

cluster 149 labels
0    4
Name: Label, dtype: int64

cluster 150 labels
0    4
Name: Label, dtype: int64

cluster 151 labels
0    3
Name: Label, dtype: int64

cluster 152 labels
0    3
Name: Label, dtype: int64

cluster 153 labels
0    4
Name: Label, dtype: int64

cluster 154 labels
0    4
Name: Label, dtype: int64

cluster 155 labels
0    4
Name: Label, dtype: int64

cluster 156 labels
0    59
Name: Label, dtype: int64

cluster 157 labels
0    3
Name: Label, dtype: int64

cluster 158 labels
0    20
Name: Label, dtype: int64

cluster 159 labels
0    4
Name: Label, dtype: int64

cluster 160 labels
0    7
Name: Label, dtype: int64

cluster 161 labels
0    3
Name: Label, dtype: int64

cluster 162 labels
0    3
Name: Label, dtype: int64

cluster 163 labels
0    4
Name: Label, dtype: int64

cluster 164 labels
0    3
Name: Label, dtype: int64

cluster 165 labels
0    4
Name: Label, dtype: int64

cluster 166 labels
0    5
Name: Label, dtype: int64

cluster 167 labels
0    3
Name: Label, dtype: int64

cluster 168 labels
0    4
Name: Label, dtype: int64

cluster 169 labels
0    4
Name: Label, dtype: int64

cluster 170 labels
0    5
Name: Label, dtype: int64

cluster 171 labels
0    4
Name: Label, dtype: int64

cluster 172 labels
0    6
Name: Label, dtype: int64

cluster 173 labels
0    4
Name: Label, dtype: int64

cluster 174 labels
0    6
Name: Label, dtype: int64

cluster 175 labels
0    7
Name: Label, dtype: int64

cluster 176 labels
0    11
Name: Label, dtype: int64

cluster 177 labels
0    3
Name: Label, dtype: int64

cluster 178 labels
0    3
Name: Label, dtype: int64

cluster 179 labels
0    3
Name: Label, dtype: int64

cluster 180 labels
0    6
Name: Label, dtype: int64

cluster 181 labels
0    12
Name: Label, dtype: int64

cluster 182 labels
0    12
Name: Label, dtype: int64

cluster 183 labels
0    3
Name: Label, dtype: int64

cluster 184 labels
0    2
1    1
Name: Label, dtype: int64

cluster 185 labels
0    3
Name: Label, dtype: int64

cluster 186 labels
0    3
Name: Label, dtype: int64

cluster 187 labels
0    4
Name: Label, dtype: int64

cluster 188 labels
0    3
Name: Label, dtype: int64

cluster 189 labels
0    4
Name: Label, dtype: int64

cluster 190 labels
0    3
Name: Label, dtype: int64

cluster 191 labels
0    3
Name: Label, dtype: int64

cluster 192 labels
0    3
Name: Label, dtype: int64

cluster 193 labels
0    3
Name: Label, dtype: int64

cluster 194 labels
1    4
Name: Label, dtype: int64

cluster 195 labels
0    3
Name: Label, dtype: int64

cluster 196 labels
0    4
Name: Label, dtype: int64

cluster 197 labels
0    3
Name: Label, dtype: int64

cluster 198 labels
0    3
Name: Label, dtype: int64

cluster 199 labels
0    8
Name: Label, dtype: int64

cluster 200 labels
0    3
Name: Label, dtype: int64